*{
    color:aliceblue;
    background-color: black;
    margin :20px;
}
.card{
    background-color: rgb(106, 106, 106);
    border: 2px dolid ;
    border-radius: 5px;
    border:1px solid white;
    color :black;
    width: 300px;
    text-align: center;
    padding: 2px 8px;
}
.parent{
    display: flex;
    gap:15px;
}
.card h1{
     background-color: rgb(106, 106, 106);
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 35px;

}
.card button{
    background-color: white;
    color:black;
    width: 140px;
    height: 40px;
    border-radius: 4px;
}
.card p{
     background-color: rgb(106, 106, 106);
     color:black;
}
.card img{
    
    object-fit: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#test{
    color:white;
}